body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  /*#################################################
  ###################################################
  #########        CSS for Block One    #############
  ###################################################
  #################################################*/
 
  .block-1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
  }

  .b1-header-content-container {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .header-logo {
    color: #F9FAF8;
    font-size: 24px;
  }

  .header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
  }

  .container-b1 {
    display: flex;
    gap: 50px;
    padding: 100px 0px;
    max-width: fit-content;
  }

  .cb1-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 475px;
  }

  .hero-main {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
  }

  .hero-second {
    color: #E5E7EB;
    font-size: 18px;
  }

  .button-b1 {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    width: 130px;
  }

  .cb1-right {
    margin-left: auto;
  }

  .plane {
    height: 225px;
    width: 600px;
  }


  /*#################################################
  ###################################################
  #########        CSS for Block Two    #############
  ###################################################
  #################################################*/

  .block-2 {
    display: flex;
    flex-direction: column;
  }

  .title-b2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 50px 0px;
  }

  .container-b2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 65px;
  }

  .sq-pic {
    height: 165px;
    width: 165px;
    border-radius: 8px;
    border: 2px solid #3882F6;
  }

  .info {
    max-width: 165px;
    text-align: center;
    color:#1F2937;
  }


  /*#################################################
  ###################################################
  #########        CSS for Block Three    ###########
  ###################################################
  #################################################*/

  .block-3 {
    background-color:#E5E7EB;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
  }

  .container-b3 {
    display: flex;
    flex-direction: column;
    max-width: 775px;
  }

  .quote {
    text-align: left;
    color: #1f2937cc;
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
  }

  .speaker {
    text-align: right;
    color: #1F2937;
    font-weight: 800;
    font-size: 20px;
  }

  /*#################################################
  ###################################################
  #########        CSS for Block Four#    ###########
  ###################################################
  #################################################*/

  .block-4 {
    display: flex;
    padding: 100px 0px;
    justify-content: center;
  }

  .size-container-b4 {
    width: 1125px;
  }

  .container-b4 {
    background-color: #3882F6;
    display: flex;
    border-radius: 8px;
    padding: 10px 100px;
    justify-content: space-between;
  }

  .action{
    font-size: 20px;
    color:#F9FAF8;
    font-weight: 800;
  }

  .subaction {
    color:#F9FAF8;
    font-weight: 300;
  }

  .cb4-right {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .button-b4 {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    width: 130px;
  }
  
  /*#################################################
  ###################################################
  #########        CSS for Block Five     ###########
  ###################################################
  #################################################*/

  .footer {
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }